@model pruebaAuth.Reserva

@{
	ViewBag.Title = "Delete";
	Layout = "~/Views/Shared/_Layout.cshtml";

}



<h3>Información de la Reserva</h3>
<div>
	<h4>Reserva</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.NombreCliente)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.NombreCliente)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ApellidoCliente)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ApellidoCliente)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.NumeroPersonas)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.NumeroPersonas)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.InstitucionCliente)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.InstitucionCliente)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.FechaInicio)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FechaInicio)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.FechaFin)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FechaFin)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.EstadoReserva)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EstadoReserva)
		</dd>


	</dl>

    <div class="col-md-offset-1 col-md-10">
        <div class="form-horizontal">
            @Html.ActionLink("Regresar al Calendario", "Calendario")
        </div>
        
    </div>

    <br />
    <br />
    <br />
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal" style="border:ridge">
                    <h4 style="text-align:center">Ingrese su Email para cancelar la reservación</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.CorreoCliente, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">

                            @Html.Editor("Correo", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("Correo", "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            <input type="submit" value="Cancelar" class="btn btn-default" />
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <p></p>

            </div>
        </div>
        <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

     

        @Html.Raw(TempData["msg"])



    }


        </div>
